<% provide(:title, "About")%>
<h1>About</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam vitae dolores voluptatem expedita libero beatae, sapiente tenetur reprehenderit nam a! Reprehenderit dolores asperiores ullam exercitationem enim aspernatur iste saepe amet.
</p>