<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore debitis sunt eos error sit ratione. Itaque vitae perferendis rem deserunt voluptatibus, excepturi officia animi consectetur vel esse nam qui officiis?
</p>