<% provide(:title, "Help")%>
<h1>Help</h1>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim vitae repudiandae obcaecati eius voluptatem, quidem ipsa. Aspernatur reprehenderit officia voluptas, ratione illum porro eum aut velit consequuntur facere quae vitae.
</p>
