<% flash.each do |type, message| %>
  <% bootstrap_type =
       case type.to_sym
       when :notice then "success"
       when :alert  then "danger"
       else type
       end %>

  <div class="alert alert-<%= bootstrap_type %>">
    <%= message %>
  </div>
<% end %>
